@page "{id?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h4">@Model.Message</p>
    <form asp-page="Other">
        <input type="text" name="msg" class="form-control" />
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

