@page "{id?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h4">@Model.Message</p>
    <p class="h5">@Model.getData(Model.id)</p>
</div>

